@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  background-color: black;
  padding-left: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Set the color of the scrollbar thumb */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
}

a:hover {
  color: none;
}
